{% extends 'layouts/base.html' %}

{% block content %}
<div class="content-wrapper">
  <section class="content-header">
    <h1>
      {% if player %}
        Editar Jugador
      {% else %}
        Agregar Jugador
      {% endif %}
    </h1>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">
              {% if player %}
                Editar Jugador
              {% else %}
                Nuevo Jugador
              {% endif %}
            </h3>
          </div>
          <!-- form start -->
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="box-body">
              {{ form.as_p }}
            </div>
            <div class="box-footer">
              <button type="submit" class="btn btn-primary">Guardar</button>
              <a href="{% url 'player_list' %}" class="btn btn-default">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
